
.submenu-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.ui.secondary.inverted.pointing.menu .item{
  color: black !important;
  font-size: 18px !important;
  font-family: 'Montaga', serif !important;
  font-weight: 100;
}
.ui.secondary.inverted.pointing.menu .item:hover{
  color: gray !important;
  font-size: 19px !important;
}
.ui.inverted.segment, .ui.primary.inverted.segment{
  background-color: transparent !important;
}
.ui.secondary.inverted.pointing.menu{
  border: none !important;
}

.ui.secondary.pointing.menu{
  border-bottom: none;
  margin: 0;
}

.ui.secondary.inverted.pointing.menu .active.item{
  color: black !important;
  border-color: black !important;
  font-family: 'Montaga', serif !important;
  font-weight: lighter;
}