.urunler-container{
  font-family: 'Montaga', serif;
}
.Urunler{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 20px !important;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}
.text{
  font-size: 14px;
  text-align: left;
}
.title{
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
}
.urunler-detail-container{
  font-family: 'Montaga', serif;  
}
.urunler-detail{
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 20px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image-magnify{
  width: 37.5% !important;
  height: auto;
  z-index: 10 !important;
}
.urunler-detail-text-container{
  display: flex;
  flex-direction: column;
  border: solid 0.5px;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: .28571429rem;
}
.urunler-detail-title{
  text-align: center;
  font-size: large;
  font-weight: 400;
  padding-bottom: 1em;
}
.urunler-detail-text{
  font-size: 18px;
  padding-bottom: 1em;
  font-size: large;
  font-weight: 1400;
}
.urunler-detail-dropdown-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.urunler-detail-dropdown{
  font-family: 'Montaga', serif !important;
}
.ui.dropdown:not(.button)>.default.text{
  font-family: 'Montaga', serif !important;
  color: black !important;
}
.urunler-detail-button{
  padding-top: 2.5%;
}
.modal-button{
  font-family: 'Montaga', serif !important;
  color: black !important;
}
.urunler-detail-neckles-size-img{
  width: 50%;
  height: 20em;
}
.dropdown-error{
  color: red;
  padding-top: 0.5%;
}
.urunler-detail-envelope-text-container{
  display: flex;
  flex-direction: column;
}