.hakkimizda{
  padding: 2%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50em;
}
.hakkimizda-title{
  text-align: center;
  font-size: 26px;
  font-style: italic;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
  color: #666666;
  padding-bottom: 2.5%;
  font-family: 'Old Standard TT', Georgia, 'Times New Roman', Times, serif;
  width: 50%;
  position: relative;
  left: 50%;
}
.hakkimizda-text-container{
  display: flex;
  flex-direction: column;
}
.hakkimizda-text{
  font-family: 'Old Standard TT', Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 1.5%;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  line-height: 120%;
  text-transform: none;
  color: #666666;
  width: 50%;
  position: relative;
  left: 50%;
}