.sepetim{
  padding: 20px;
}
.sepetim-detail-container{
  display: flex;
  flex-direction: row;
  border: solid sienna 1px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2.5%;
}
.sepetim-detail-img{
  width: 20%;
  height: 20em;
}
.sepetim-detail-text{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-family: 'Montaga', serif !important;
}
.sepetim-title{
  font-size: 22px;
  padding-bottom: 2.5%;
}
.sepetim-text{
  font-size: 18px;
  padding-bottom: 2.5%;
  width: 75%;
}
.sepetim-spend{
  font-size: 18px;
  padding-bottom: 2.5%;
}
.sepetim-delete{
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  margin-right: -17px;
  margin-top: -17px;
}
.sepetim-delete-img{
  width: 35px;
  height: 35px;
  cursor: pointer;
}