<!DOCTYPE html>

{% load static %}

<html>
<body>
    <p>Merhaba!</p>
    <p>***********************</p>
    {% for customer in customers %}
    <div style="color: blue; font-size: 30;">
        <img src="{{customer.image.url}}" alt="{{customer.first_name}}" style="width: 100px; border: 1px solid rgb(168, 93, 93);
        border-radius: 4px;
        padding: 5px;">
        <p>Customer FName: <span style="color: green; font-size: 30;"> {{customer.first_name}} </span></p> 
        <p>Customer LName: <span style="color: rgb(72, 141, 8); font-size: 30;">{{customer.last_name}}</span></p> 
        <p>Customer Email: <span style="color: green; font-size: 30;">{{customer.email}}</span></p> 
        <p>Customer Avatar: <span style="color: green; font-size: 30;">{{customer.image}}</span></p> 
    </div>
    {% endfor %}
    
    <p>********************************</p>    

    {% for product in products %}
    <div style="color: blue; font-size: 30;">
        <img src="{{product.image}}" alt="{{product.name}}" style="border-radius: 50%;width: 100px;border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;">
        <p>Product Name : <span style="color: purple; font-size: 30;">{{product.name}}</span></p>
        <p>Product Description : <span style="color: purple; font-size: 30;">{{product.description}}</span></p>
        <p>Product Type : <span style="color: purple; font-size: 30;">{{product.productType}}</span></p>
    </div>
    {% endfor %}

</body>
</html>