.Navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  min-width: 20%;
}
.Logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5%;
}
.LogoImg{
  width: 60px;
  height: 60px;
}
.Nav-Items{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.ui.secondary.inverted.pointing.menu .item{
  color: black !important;
  font-size: 18px;
  font-family: 'Montaga', serif !important;
  font-weight: 100;
}
.ui.secondary.inverted.pointing.menu .item:hover{
  color: gray !important;
  font-size: 18px;
}
.ui.inverted.segment, .ui.primary.inverted.segment{
  background-color: transparent !important;
}
.ui.secondary.inverted.pointing.menu{
  border: none !important;
}
.ui.secondary.pointing.menu{
  border-bottom: none;
  margin: 0;
}
.ui.secondary.inverted.pointing.menu .active.item{
  color: black !important;
  border-color: black !important;
  font-family: 'Montaga', serif !important;
}